<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원 가입 페이지</title>
</head>
<body>
<h1>회원 가 입 입 니 다 </h1>
<form action="/joinProc" method="post"> <!-- 로그인뺴고 모든건 ajax요청할꺼임 -->
<input type="text" name="username" placeholder="Username"/><br/>
<input type="password" name="password" placeholder="Password"/><br/>
<input type="email" name="email" placeholder="Email"/><br/>
<button>회원가입</button>
</form>
</body>
</html>